@using MyApp.Application.DTOs.Management
@using MyApp.Domain.Enums.Management
@inject HttpClient Http

<div class="container">
    <h1 class="my-4 text-center">Task Items</h1>
</div>

@if (isLoading)
{
    <div class="d-flex justify-content-center my-5">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}
else
{
    <FormTableTaskItem TaskItems="TaskItems" OnEdit="ShowEditModal" OnDelete="DeleteTaskItem" />

    <button class="btn btn-primary my-3 mb-2" @onclick="ShowAddModal">New Task</button>
}

<EditModalTaskItem @ref="editModal" OnTaskItemSaved="SaveTaskItem" />

@code {
    private List<TaskItemDto>? TaskItems;
    private bool isLoading = true;
    private EditModalTaskItem? editModal;

    protected override async Task OnInitializedAsync()
    {
        await LoadTaskItems();
    }

    private async Task LoadTaskItems()
    {
        isLoading = true;

        TaskItems = await Http.GetFromJsonAsync<List<TaskItemDto>>("data/task_list.json");

        isLoading = false;
    }

    private void ShowAddModal()
    {
        editModal!.Show(new TaskItemDto() { Title = "", Description = "" });
    }

    private async void ShowEditModal(TaskItemDto TaskItem)
    {
        editModal!.Show(TaskItem);
    }

    private async Task SaveTaskItem(TaskItemDto dto)
    {
        if (TaskItems!.Contains(dto))
        {
            TaskItems.Add(dto);
        }else
        {
            dto.UpdatedDate = DateTime.UtcNow;
        }
    }

    private async Task DeleteTaskItem(TaskItemDto dto)
    {
        TaskItems!.Remove(dto);
    }
}
