@page "/sideprojects"

<PageTitle>Side Projects</PageTitle>

<h1>Side Projects:</h1>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title"><i class="bi bi-book me-2"></i>Recipes Page</h5>
                    <p class="card-text">Explore a recipe browsing experience powered by JSON data. This example from MyFoodApp demonstrates how to display and interact with structured recipe information.</p>
                    <a href="recipes" class="btn btn-primary">See Demo</a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title"><i class="bi bi-bag-check me-2"></i>Products Page</h5>
                    <p class="card-text">See how to fetch and display product data using a RESTful API. This example integrates with the fakestoreapi on the client-side, showcasing dynamic data loading and display.</p>
                    <a href="products" class="btn btn-primary">See Demo</a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title"><i class="bi bi-list-task me-2"></i>Tasks Page</h5>
                    <p class="card-text">This interactive task management example demonstrates client-side interactivity using JSON data.  Add, edit, and manage tasks within the browser.</p>
                    <a href="tasks" class="btn btn-primary">See Demo</a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title"><i class="bi bi-clipboard-pulse me-2"></i>NPI Registry Page</h5>
                    <p class="card-text">Accessing the NPI registry usually requires a proxy due to CORS restrictions. This example uses JSON data to simulate the registry, demonstrating how to handle such data in a Blazor application.</p>
                    <a href="npi" class="btn btn-primary">See Demo</a>
                </div>
            </div>
        </div>
    </div>
</div>
